* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #020312;
  --text-color: #fff;
  --main-color: #ff32eb;
  --second-color: #929292;
  --other-color: #12141c;
  --h1-font: 5.2rem;
  --h2-font: 3.5rem;
  --p-font: 1.1rem;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.about-me h2 {
  font-size: var(--h2-font);
}

.about-me h4 {
  margin: 10px 0;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2rem;
}

.about-me p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 30px;
  margin-bottom: 2rem;
}

.about-skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.about-skill h5 {
  font-size: 22px;
  font-weight: 600;
}

.about-img img {
  height: auto;
  width: 100%;
  max-width: 460px;
}
