* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #020312d5;
  --text-color: #fff;
  --main-color: #ff32eb;
  --second-color: #929292;
  --other-color: #12141c;
  --h1-font: 3.2rem;
  --h2-font: 2.5rem;
  --p-font: 1.1rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

/* Start of Naviagtion */

header {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 22px 16%;
  border-bottom: 1px solid transparent;
  transition: all 0.4s ease;
}

.logo img {
  width: 185px;
  height: auto;
}

.navbar {
  display: flex;
}
.navbar a {
  color: var(--second-color);
  font-size: var(--p-font);
  font-weight: 600;
  padding: 10px 25px;
  margin: 0 2px;
  border-radius: 0.5rem;
  transition: all 0.4s ease;
}
.navbar a:hover {
  background: var(--main-color);
  color: var(--text-color);
}

#menu-icon {
  font-size: 36px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  display: none;
}

/* End of Navigation Bar */

/* Start of Introduction */

section {
  padding: 160px 16% 90px;
}

.intro {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url(../images/mybackground.svg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: #000000 solid 3px;
}

.intro-text h1 {
  margin: 20px 0;
  font-size: var(--h1-font);
  font-weight: bold;
  line-height: 1.1;
  opacity: 0.9;
}

span {
  color: var(--main-color);
}

.intro-text h4 {
  color: var(--main-color);
  font-size: 28px;
  font-weight: 600;
  opacity: 0.9;
}

.intro-text h3 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 3rem;
  opacity: 0.9;
}

.btn {
  display: inline-block;
  padding: 14px 40px;
  border-radius: 0.5rem;
  font-size: 17px;
  font-weight: 500;
  background: var(--main-color);
  color: var(--text-color);
  border: 1px solid var(--main-color);
  transition: all 0.4s ease;
}

.btn:hover {
  transform: scale(1.01) translateY(-5px);
  background: transparent;
  border: 1px solid var(--main-color);
}

.about-img img {
  border-radius: 30%;
}
/* Header Sticky Design */

header.sticky {
  padding: 10px 16%;
  background: var(--bg-color);
  border-bottom: 1px solid #0e1630;
}

@media (max-width: 1325px) {
  header {
    padding: 16px 3%;
  }
  header.sticky {
    padding: 8px 3%;
  }
  section {
    padding: 130px 3% 60px;
  }
}

@media (max-width: 970px) {
  :root {
    --h1-font: 4.2rem;
    --h2-font: 2.9rem;
    --p-font: 1rem;
  }
  section {
    padding: 70px 3% 60px;
  }
  .intro {
    height: 85vh;
  }

  .about-img img {
    text-align: center;
  }
}

@media (max-width: 830px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: -600px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: #12141c;
    text-align: left;
    transition: all 0.4s ease;
  }
  .navbar a {
    display: block;
    padding: 1rem;
    margin: 1rem;
  }
  .navbar.active {
    top: 100%;
  }
  :root {
    --h1-font: 3.7rem;
    --h2-font: 2.7rem;
  }
}
