* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background: #020312;
  color: #ffff;
}

/* Start of Naviagtion */

header {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 22px 16%;
  height: 80px;
  border-bottom: 1px solid transparent;
  transition: all 0.4s ease;
}

.logo img {
  width: 150px;
  height: auto;
}

.navbar {
  display: flex;
}
.navbar a {
  color: #707070;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 10px 25px;
  margin: 0 2px;
  border-radius: 0.5rem;
  transition: all 0.4s ease;
}
.navbar a:hover {
  background: #f578e8;
  color: #ffff;
}

#menu-icon {
  font-size: 36px;
  color: #ffff;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

/* End of Navigation Bar */

/* Start of Introduction */

section {
  padding: 160px 16% 90px;
}

.intro {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url(../images/background.svg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.intro-text h1 {
  margin: 20px 0;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: 2px;
  opacity: 0.9;
}

span {
  color: #f578e8;
}

.intro-text h4 {
  color: #f578e8;
  font-size: 24px;
  font-weight: 600;
  opacity: 0.9;
}

.intro-text h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 3rem;
  opacity: 0.9;
}

.btn {
  display: inline-block;
  padding: 14px 40px;
  border-radius: 0.5rem;
  font-size: 17px;
  font-weight: 500;
  background: #f578e8;
  color: #ffff;
  border: 1px solid #f578e8;
  transition: all 0.4s ease;
}

.btn:hover {
  transform: scale(1.01) translateY(-5px);
  background: transparent;
  border: 1px solid #f578e8;
}

.about-img img {
  border-radius: 5%;
}
/* Header Sticky Design */

header.sticky {
  padding: 10px 16%;
  background: #020312d5;
  border-bottom: 1px solid #0e1630;
  transition: 0.3s;
}

/* About Section */

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.about-me h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
}

.about-me h4 {
  margin: 10px 0;
  color: #f578e8;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2rem;
}

.about-me p {
  color: #707070;
  font-size: 1.1rem;
  line-height: 30px;
  margin-bottom: 2rem;
}

.about-skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.skill h5 {
  font-size: 22px;
  font-weight: 600;
}

.about-img {
  height: auto;
  width: 100%;
  max-width: 460px;
}

/* End of About Section */

/* Services Section */

.services {
  text-align: center;
}

.services h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.services h4 {
  color: #f578e8;
  font-size: 24px;
  font-weight: 600;
}

.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin-top: 5rem;
}

.service-box {
  padding: 45px;
  background: #12141c;
  border-top: 5px solid transparent;
  border-radius: 0.5rem;
  transition: all 0.4s ease;
  cursor: pointer;
}

.service-box img {
  height: auto;
  width: 100%;
}

.service-box h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 15px 0;
  transition: all 0.4s ease;
}

.service-box p {
  color: #707070;
  font-size: 1.1rem;
  line-height: 30px;
}

.service-box:hover {
  transform: scale(1.01) translateY(-5px);
  border-top: 5px solid #f578e8;
}

.service-box:hover h3 {
  color: #f578e8;
}

/* End of Service Section */

/* Project Section */

.projects {
  text-align: center;
}

.projects h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.projects h4 {
  color: #f578e8;
  font-size: 24px;
  font-weight: 600;
}

.project-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.row img {
  height: auto;
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

.row {
  padding: 25px;
  background: #12141c;
  border-radius: 0.5rem;
  transition: all 0.4s ease;
}

.main-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.row h3 {
  font-size: 25px;
  font-weight: 700;
}

.row h6 {
  color: #f578e8;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

.row-icon i {
  font-size: 21px;
}

.row:hover {
  transform: scale(1.01) translateY(-5px);
  cursor: pointer;
}

/* End of Project Section */

/* Contact Section */

.contact-me {
  display: flex;
  gap: 3rem;
}

.contact h4 {
  margin: 15px 0;
  color: #f578e8;
  font-size: 20px;
  font-weight: 600;
}

.contact h2 {
  font-size: 2.5rem;
}

.contact p {
  color: #707070;
  font-size: 1.1rem;
  line-height: 30px;
  margin-bottom: 2rem;
}

.contact-list {
  margin-bottom: 3rem;
}

.contact-list li {
  margin-bottom: 10px;
  display: block;
}

.contact-list li a {
  display: block;
  color: #707070;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.4s ease;
}

.contact-list li a:hover {
  transform: scale(1.01) translateY(-5px);
  color: #f578e8;
}

.contact-icons i {
  height: 40px;
  width: 40px;
  background: #12141c;
  border-radius: 0.5rem;
  color: #f578e8;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-right: 10px;
  transition: all 0.4s ease;
}

.contact-icons i:hover {
  transform: scale(1.01) translateY(-5px);
  background: #f578e8;
  color: #ffff;
}

.contact-form form {
  position: relative;
}

.contact-form form input,
form textarea {
  border: none;
  outline: none;
  width: 100%;
  padding: 18px;
  background: #12141c;
  color: #ffff;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.contact-form textarea {
  resize: none;
  height: 240px;
}

.contact-form form .send {
  display: inline-block;
  margin-top: 0.5rem;
  font-size: 17px;
  font-weight: 500;
  background: #f578e8;
  color: #ffff;
  width: 190px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.developed-by p {
  text-align: center;
  padding: 15px;
  color: #707070;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
}

.top {
  position: fixed;
  bottom: 2.1rem;
  right: 2.1rem;
}

.top i {
  color: #ffff;
  background: #f578e8;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;
}

/* End of Contact Section */

/* Desktop Device */

@media (max-width: 1325px) {
  section {
    padding: 70px 60px;
  }

  .contact-me {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
  }
  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
  }
}

/* Tablet Device */

@media (min-width: 768px) and (max-width: 915px) {
  :root {
    --h1-font: 4.2rem;
    --h2-font: 2.9rem;
    --p-font: 1rem;
  }

  section {
    padding: 70px 60px;
  }
  .intro {
    height: 85vh;
  }

  .about-img img {
    text-align: center;
  }

  .contact-me {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
  }

  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
  }
  .intro h1 {
    font-size: 40px;
  }
}

/* Mobile Device */

@media (min-width: 320px) and (max-width: 915px) {
  #menu-icon {
    display: block;
  }

  header.sticky {
    padding: 8px 3% 16px;
  }

  section {
    padding: 70px 60px;
  }
  .navbar {
    position: absolute;
    top: -600px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: #020312;
    text-align: left;
    transition: all 0.4s ease;
  }
  .navbar a {
    display: block;
    padding: 1rem;
    margin: 1rem;
  }
  .navbar.active {
    top: 100%;
  }
  .contact-me {
    flex-direction: column;
    align-items: flex-start;
  }
  .about {
    margin-top: 2rem;
    flex-direction: column;
    text-align: center;
  }

  .about-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .intro {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 150%;
    opacity: 0.8;
  }
  .intro h1 {
    font-size: 40px;
  }
  .intro h4,
  .intro h3 {
    font-weight: bold;
    font-size: 15px;
    margin-top: 1rem;
  }

  .intro a {
    font-size: 14px;
    font-weight: bold;
  }
}
